:root {
    --color-primary: #78abc8;
    --color-primary-title: #78abc8;
    --color-shadow-title: #333236;
    --color-primary-border: #78abc8;
    --color-primary2-description: #0f2b36;
    --color-primary2: #0f2b36;
    --color-snow: #f1f1f1;
    --color-ash: #bebebe;
    --color-shadow: #333236;
    --text-xsm: 0.3em;
    --text-sm: 1.2em;
    --text-sm2: -1em;
    --text-md: 2em;
    --text-xl: 3.2em;
    --text-xll: 10em;

    --size-shadow-sm: 1em;
    --size-shadow-sm2: -1em;
    --size-shadow-md: 2em;

    --color-primary2-project: #0f2b36;
    --color-primary2-project2: #0f2b36;

    --color-shadow-menu: #f1f1f1;
}

@font-face {
    font-family: 'Exo';
    src: url('./fonts/exo.regular.otf');
}

.dark-theme {
    --color-snow: #1b1e1f;
    --color-shadow: #f1f1f1;
    --color-ash: #4b6a7c;
    --color-primary-border: var(--color-ash);
    --color-primary-title: var(--color-shadow);
    --color-shadow-title: var(--color-ash);
    --color-primary2-description: var(--color-shadow);

    --color-shadow-menu: #4b6a7c;

    --size-shadow-sm: 0.1em;
    --size-shadow-sm2: -0.1em;
    --size-shadow-md: 0.5em;

    --color-primary2-project2: var(--color-shadow);
    --color-primary2-project: var(--color-ash);
}

/* Estructura de la web */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;

}

html {
    scroll-behavior: smooth;
}

body {
    border: 5px solid;
    border-image: linear-gradient(50deg, var(--color-snow), var(--color-primary-border) 80%);
    border-image-slice: 1;
    background-color: var(--color-snow);
    transition: all 0.5s ease;
    font-family: 'Exo';
}

.main {
    display: grid;
    grid-template-areas:
        'header header'
        'content content'
        'footer footer';
    width: 100%;
    height: 100%;
    grid-template-rows: 6rem auto 10rem;



}

/* Header y navbar */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid var(--color-primary);
    cursor: pointer;
}

.nav-title {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: var(--text-sm);
    transition: all 0.3s ease;
}

.nav-title>.console-underscore {
    display: inline-block;
    position: relative;
    bottom: 0.01rem;
    left: 10px;
    font-size: var(--text-md);
    transition: all 0.3s ease;
    background-color: var(--color-shadow);
    width: 10px;
    height: 20px;
}

.change-color li {
    border-radius: 50%;
    padding: 13px;
    font-size: var(--text-sm);
    color: var(--color-shadow);

}

.nav .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: auto;

}



.nav-list li {
    padding: .5em .8em;
    color: var(--color-shadow);
    position: relative;
    font-size: var(--text-sm);
    margin-right: var(--text-md);
}

.nav-list li::before,
.nav-list li::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.nav-list li::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid var(--color-primary);
    border-right: 3px solid var(--color-primary);
    transform: translate(-100%, 50%);
}

.nav-list li:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid var(--color-primary);
    border-left: 3px solid var(--color-primary);
    transform: translate(100%, -50%)
}

.nav-list li:hover:before,
.nav-list li:hover:after {
    transform: translate(0, 0);
    opacity: 1;
}

.nav-list li:hover {
    color: var(--color-primary);
}

.header-main {
    grid-area: header;
}

/* Estilos general contenido */

.content-main {
    width: 75%;
    grid-area: content;
    padding: 23px;
    border-radius: 0 var(--text-xl);
    margin: 3rem auto;
    box-shadow: var(--text-xsm) var(--text-xsm) var(--text-sm) var(--color-ash), var(--text-xsm) var(--text-xsm) var(--text-sm) var(--color-ash), inset 0 0 0 transparent, inset 0 0 0 transparent;

}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
}

.mask {
    width: 50%;
    height: auto;
    border-radius: var(--text-md) var(--text-xsm);
    overflow: hidden;
    margin: 0 auto;
}

.image img {

    width: 100%;
    height: auto;
    border-radius: var(--text-md) var(--text-xsm);
    position: relative;
    margin: 23px 0;
}

.hidden {
    opacity: 0;
}

.title {
    font-size: var(--text-xl);
    color: var(--color-primary-title);
    text-shadow: 2px 1px 2px var(--color-shadow-title);

}

.intro p {
    font-size: var(--text-md);
    color: var(--color-primary-description);
    text-shadow: 1px 1px 2px var(--color-shadow);
    margin: 13px 0;
}


.middle-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.middle-content>.txt-intro {
    width: 500px;
    max-width: 500px;
    padding: 33px;
    text-align: justify;
    line-height: 33px;
    color: var(--color-primary2-description);
}

/*carrousel*/
.carrousel {
    width: 90%;
    color: var(--color-primary);
    background-color: var(--color-snow);
    border-radius: 5%;
    transition: all 0.4s ease;
    box-shadow: var(--size-shadow-sm) var(--size-shadow-sm) var(--size-shadow-md) var(--color-ash), var(--size-shadow-sm2) var(--size-shadow-sm2) var(--size-shadow-md) var(--color-ash), inset 0 0 0 transparent, inset 0 0 0 transparent;
    overflow: hidden;
    margin: 3rem 3rem;
    padding-right: 2.5rem;

}

.carrousel .cr-imgs {
    width: 300%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--text-md);
    transition: all 0.4s ease;
    transform: translateX(0%);
    margin: 3rem 0rem;
}



.carrousel .img {
    margin-right: 1rem;
    cursor: pointer;
    filter: grayscale(45%);
    width: calc((100% / 3) - 3rem);
    max-height: 25vh;
    min-height: 25vh;
    transition: all 0.4s ease;
    border-radius: 1em;
    box-shadow: var(--size-shadow-sm) var(--size-shadow-sm) var(--size-shadow-md) var(--color-ash), var(--size-shadow-sm2) var(--size-shadow-sm2) var(--size-shadow-md) var(--color-ash), inset 0 0 0 transparent, inset 0 0 0 transparent;
    display: block;
    object-fit: cover;
    object-position: center center;
}


.carrousel .img:hover {
    transform: scale(1.1, 1.1);
    filter: saturate(1);
    transition: all 0.4s ease-in-out;
}

.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
}

.arrows li {
    margin-left: 13px;
    cursor: pointer;
}

/* projects */

.project-container {
    width: 100%;
}

.project-container h1 {
    text-align: center;
    color: var(--color-primary);
    margin: 1rem;
}

.project-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 3rem;
}

.project-list ul img {
    width: 13rem;
    height: 13rem;
    object-fit: cover;
    margin: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.project-list ul img:hover {
    transform: scale(1.2, 1.2);
    filter: blur(1px) contrast(80%)
}

/*Single project*/
.images-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 3rem;
}

.single-project-container .images-gallery img {
    width: 70%;
    margin: 3rem;
    border-radius: 1rem;
    box-shadow: 1em 1em 2em var(--color-ash), -1em -1em 2em var(--color-ash), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.single-project-container .title {
    margin: 0.5rem 0;
    font-size: var(--text-md);
    color: var(--color-primary2-project);
}

.single-project-container .tool {
    margin: 0.5rem 0;

}

.single-project-container .description {
    margin: 0.5rem 0;
    text-align: justify;
    width: 85%;
    color: var(--color-primary2-project2);
}



/* footer */

.footer-main {
    grid-area: footer;
}

.footer {
    text-align: center;
    padding: 1.5rem;
}

.footer h3,
span {
    color: var(--color-ash);

}

.footer #author {
    font-weight: 600;
    transition: all 0.3s ease;
}

.footer #author:hover {
    border-bottom: 1px solid var(--color-primary);
    cursor: pointer;
}

.list-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    cursor: pointer;
}

.list-media li {
    font-size: 1.5rem;
    margin-left: 3px;
    transition: all 0.3s ease;
}

.list-media li:hover {
    transform: scale(1.3, 1.3)
}


/* nav mobile*/
.nav-mobile {
    position: absolute;
    right: 3rem;
    top: 1.5rem;
}

.nav-mobile .btn-menu {
    font-size: 2rem;
    background: none;

}

.list-container {
    position: absolute;
    right: -2.9rem;
    top: 4rem;
    background-color: var(--color-shadow-menu);
    box-shadow: 1rem 1rem 2rem var(--color-ash), -0.1rem -0.1rem 2rem var(--color-ash);
    border-end-end-radius: 10%;
    transition: all 0.3s ease-out;
    border-bottom-left-radius: 50%;
}

.list-container .nav-list-mobile {
    padding: 1rem;
    margin: 1rem;
    width: 170px;
}

.nav-list-mobile .li {
    font-size: var(--text-sm);
    padding: 1rem;
    color: var(--color-shadow);
}

/*spinner*/
.main-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-cr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--color-primary);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}


@media (max-width: 653px) {


    .header {
        /* flex-flow: column wrap; */
        /* background-color: var(--color-snow); */

    }

    .nav-list {
        flex-direction: column;
        visibility: hidden;

    }

    .nav-title {
        height: 50px;

    }

    .change-color li {
        width: 150px;
        visibility: hidden;
        display: none;
    }

    .content-main {
        width: 23rem;
        padding: 0.5rem;
    }

    .carrousel {
        padding: 0.5rem;
        margin: 4rem;
    }

    .carrousel .cr-imgs {
        width: 850%;
        margin-right: 3rem;
        max-height: 5vh;
        min-height: 25vh;
    }

    .nav-mobile .btn-menu {
        font-size: 2rem;
        background: none;
        color: var(--color-ash)
    }
}

/* @media (min-width: 942px) {
    .carrousel .cr-imgs {
        width: 850%;
        margin-right: 3rem;
        max-height: 5vh;
        min-height: 25vh;
    }
} */